.float{
    position:fixed;
    width:90px;
    height:30px;
    bottom:40px;
    right:40px;
    background-color:#4c63c10d;
    color:#1f1515;
    /* border-radius:50px; */
    text-align:center;
    box-shadow: 2px 2px 3px #999;
  }
  
  .my-float{
    margin-top:22px;
  }