.float{
    position:fixed;
    width:90px;
    height:30px;
    bottom:40px;
    right:40px;
    background-color:#4C63C1;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    display: none !important;
  }
  
  .my-float{
    margin-top:22px;
  }
  